<h3 class="ui header">{{t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.название_Теста
      class=(if (v-get validationModel "название_Теста" "isInvalid") "error")
      label=(t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.название_Теста-caption")
      data-test-i-i-s-generaciya-popytka-1-настройка-теста-e-название_Теста=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "название_Теста" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.код
      class=(if (v-get validationModel "код" "isInvalid") "error")
      label=(t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.код-caption")
      data-test-i-i-s-generaciya-popytka-1-настройка-теста-e-код=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "код" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="отчество"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-generaciya-popytka-1-настройка-теста-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-generaciya-popytka-1-настройка-теста-e.тч2-caption"}}</label>
    {{flexberry-groupedit
      componentName="тч2GroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.тч2
      content=model.тч2
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "тч2" "isInvalid") "error")
      data-test-i-i-s-generaciya-popytka-1-настройка-теста-e-тч2=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "тч2" "message")}}
  </div>
</form>
